QWidget {
	background-color: #eeeeee;
	font-size: 16px;
}

QListWidget {
	background-color: #dddddd;
}

QListWidget#nav {
	outline: none;
	border: none;
}

QListWidget#nav::item {
	text-align: center;
	padding: 10px 20px;
}

QListWidget#nav::item:selected {
	background-color: #eeeeee;
	color: black;
}

QSplitter::handle {
	width: 4px;
	background-color: transparent;
}

QSplitter::handle:hover {
	background-color: black;
}
